<div class="booyah-box col-xs-10 col-xs-offset-1">
    <h1>Welcome to a page about tamales</h1>
    <br /><br />
    <h2>Tamales</h2><br />
    <p>
      A tamale (tamal in Spanish[1]) is a traditional Mesoamerican dish made of masa (a starchy dough, usually corn-based), which is steamed in a corn husk or banana leaf. The wrapping is discarded before eating. Tamales can be filled with meats, cheeses, fruits, vegetables, chilies or any preparation according to taste, and both the filling and the cooking liquid may be seasoned.
    </p>
    <p>
      Tamales originated in Mesoamerica as early as 8000 to 5000 BC.[2] Aztec and Maya civilizations, as well as the Olmeca and Tolteca before them, used tamales as portable food, often to support their armies, but also for hunters and travelers.
    </p>
    <p>
      The diversity of native languages in Mesoamerica led to a number of local words for the tamal, many of which remain in use. The Spanish singular of tamales is tamal. The English word "tamale" is an American back-formation of tamales.[3]
    </p>

</div>

  